body{
    padding: 0;
    margin: 0;
    height: 3000px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.nav{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 15px 50px 0 50px;
    height: 50px;
    width: 100vw;
}
.header-wrapper{
    height: 100vh;
    /* width: 100vw; */
    box-sizing: border-box;
    padding: 50px;
}
.header-background{
    background-color: orange;
    height: 100%;
    width: 50vw;
    transition: 2s 2s all ease-in-out;
}
.header-title{
    float: right;
    text-align: center;
    padding-top: calc(50vh - 90px);
    margin-right: -200px;
    font-size: 70px;
}
.header-title span{
    color: red;
}
.expand{
    width: calc(100vw - 50px);
}
#header-cta.fadeIn:hover{
    background-color: pink;
}
#header-cta{
    position: absolute;
    z-index: 20;
    top: 500px;
    left: 200px;
    opacity: 0;
    height: 80px; 
    width: 200px;
    text-align: center;
    padding-top: 40px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ffffff;
    background-color: orange;
    transition: 2s 2.5s opacity , 1s 0s background-color;
}
#header-cta.fadeIn{
    opacity: 1 !important;
    background-color: white;
}
.keyframe-test{
    height: 0;
    width: 0;
    background-color: #151515;
    animation: my-animation 2s 2500ms infinite alternate both;
}
@keyframes my-animation{
    from{
        height: 0px;
        width: 0px;
    }
    to{
        height: 100px;
        width: 100px;
    }
}
